<div class="card flex justify-center">
  <div class="flex flex-wrap gap-2">
    <p-button 
      pRipple 
      (click)="showMessages()" 
      label="Get Messages" 
      severity="success"
    />
  </div>
</div>

<div *ngIf="messages && messageService.message.length" class="card p-mt-3">
  <div class="flex flex-wrap gap-2 align-items-center p-mb-3">
    <h2 class="p-m-0">Messages</h2>
    <p-button 
      pRipple 
      (click)="clearMessages()" 
      label="Clear" 
      severity="secondary"
    />
  </div>

  <div class="flex flex-column gap-2">
    <div *ngFor="let message of messageService.message" 
         class="p-p-3 p-border-round surface-100">
      {{ message }}
    </div>
  </div>
</div>