<div class="card" *ngIf="messageService.message.length">
  <h2 class="mb-3">Messages</h2>
  <button pButton type="button" label="Clear Data" (click)="messageService.clear()" class="mb-3" ></button>

  <!-- Table Header -->
  <div class="flex font-bold bg-primary-50 p-2 border-bottom border-300">
    <div class="w-2">#</div>
    <div class="w-5">Message</div>
  </div>

  <!-- Table Rows -->
  <div
    *ngFor="let msg of messageService.message; let i = index"
    class="flex p-2 border-bottom border-100 align-items-center"
  >
    <div class="w-2">{{ i + 1 }}</div>
    <div class="w-5">{{ msg }}</div>
  </div>
</div>
